<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- cdn font -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" 
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
        <title>to do</title>
    </head>
    <body>
        <div id="app">

         <div  class="container">
            <div class="box">
                <div>
                     <img src="img/logo (1).png" alt="">
                </div>
                <div class="form-list">
                    <form @submit.prevent="createItem">
                        <input type="text" v-model="item" >
                        <button type="submit" >invia</button>
                    </form>
                </div>
                <div class="list">
                    <ul >
                        <li v-for="(element, index) in listItem"  >
                            <p 
                                @click="invertDone(element)" :class="{line : element.done === true } ">
                                {{element.text}}
                            </p>
                            <i class="fa-solid fa-xmark" @click="spliceItem(index)"></i>
                        </li>
                    </ul>
                </div>
            </div>
        
         </div>

        </div>
       <script src="js/main.js"></script>
    </body>
</html>